@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  ::-webkit-scrollbar{
    width: 10px;
    background: #191a22
  }
  
  ::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px #191a22;
    border-radius: 10px;
    background: #191a22
    }
  
  ::-webkit-scrollbar-thumb{
    background: #483ccc;
    border-radius: 10px
    }
  }